<div>
  <div style="height: 25px; overflow: hidden; width: 100%;"></div>
  <div class="paragraph" style="text-align:center;">
    <font size="2">
      Copyright 2015 CorujaLab. Todos os Direitos Reservados.<br />
      <a href="mailto:suporte@corujalab.com.br">Suporte T&eacute;cnico</a><span>&nbsp;&nbsp;&middot;&nbsp;&nbsp;</span>
      <a target="_blank" href="http://status.corujalab.com.br">Status do Sistema</a><span>&nbsp;&nbsp;&middot;&nbsp;&nbsp;</span>
      <a target="_blank" href="https://cloud.antecipador.com.br/privacidade">Pol&iacute;tica de Privacidade</a><span>&nbsp;&nbsp;&middot;&nbsp;&nbsp;</span>
      <a target="_blank" href="https://cloud.antecipador.com.br/termos">Termos de uso</a>
    </font>
  </div>
  <div style="height: 25px; overflow: hidden; width: 100%;"></div>
</div>
