<!DOCTYPE html>
<html>
	<head>
		<title>{{include.titulo_pagina}}Bem vindo &agrave; CorujaLab</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="google-site-verification" content="1O2P5kmd2WnUb1y2EaEXfnBdmbRl3QQiJ3LinLln4vw" />

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/files/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/files/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/files/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/files/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/files/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/files/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/files/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/files/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/files/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/files/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/files/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/files/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/files/favicon/favicon-16x16.png">
		<link rel="manifest" href="/files/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/files/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="/files/css/sites.css" />
		<link rel="stylesheet" type="text/css" href="/files/css/fancybox.css" />
		<link rel="stylesheet" type="text/css" href="/files/css/social-icons.css" media="screen,projection" />
		<link rel="stylesheet" type="text/css" href="/files/main_style.css" title="wsite-theme-css" />
		<link href='//fonts.googleapis.com/css?family=Raleway:400,300,200,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
		<link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
	</head>
	<body class="no-header  wsite-page-contato wsite-theme-light"><div class="body-wrap">
	<input type="checkbox" id="nav-trigger" class="nav-trigger">

	<div id="header">
		<label for="nav-trigger" class="nav-trigger hamburger">
			<span class="open-btn">
				<span class="mobile"></span>
				<span class="mobile"></span>
				<span class="mobile"></span>
			</span>
		</label>
		{% include sitename.html %}
	</div>
