{% include head.html titulo_pagina=""  %}

	<body class="landing-page  wsite-theme-light  wsite-page-index"><div class="body-wrap">
	<input type="checkbox" id="nav-trigger" class="nav-trigger">

	<div id="header">
		<label for="nav-trigger" class="nav-trigger hamburger">
			<span class="open-btn">
				<span class="mobile"></span>
				<span class="mobile"></span>
				<span class="mobile"></span>
			</span>
		</label>
		{% include sitename.html %}
	</div>

	<div id="wrapper">
		<div class="bg-wrapper">

			{% include navigation.html %}

			<div class="banner-wrap wsite-background wsite-custom-background">
				<div id="banner">
					<div id="banner-container">
						<h2><span class="wsite-text wsite-headline">
							<span>Mantenha seus dados organizados. Sempre.</span>
						</span></h2>
						<p><span class="wsite-text wsite-headline-paragraph">
	<span>Você já tem muito trabalho cuidando de seus clientes.&nbsp;Então, nada melhor do que deixar a CorujaLab cuidar das informações da sua empresa.</span>
</span></p>
						<div class="button-wrap"><div style="text-align:center;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-large wsite-button-highlight" href="/contato" >
<span class="wsite-button-inner">Entre em contato conosco</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div></div>
					</div>
				</div>
			</div>
			<div id="content-wrapper">
				<div id="content"><div id='wsite-content' class='wsite-elements wsite-not-footer'>
</div>
</div>
			</div>
		</div>
	</div>

	{% include navmobile-wrapper.html %}

</div>
	</body>
</html>
