<!DOCTYPE html>
<html>
	<head>
		<title>Bem vindo &agrave; CorujaLab</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link rel="stylesheet" type="text/css" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1234" />
		<link rel="stylesheet" type="text/css" href="http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1234" />
		<link rel="stylesheet" type="text/css" href="http://cdn2.editmysite.com/css/social-icons.css?buildtime=1234" media="screen,projection" />
		<link rel="stylesheet" type="text/css" href="/files/main_style.css" title="wsite-theme-css" />

		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />

		<style type='text/css'>
			.wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {font-family:"Open Sans" !important;}
			#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
			.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
			.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {font-family:"Open Sans" !important;}
			#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
			.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
			#wsite-title {font-family:"Open Sans" !important;}
			.wsite-menu-default a {font-family:"Open Sans" !important;}
			.wsite-menu a {font-family:"Open Sans" !important;}
			.wsite-image div, .wsite-caption {}
			.galleryCaptionInnerText {}
			.fancybox-title {}
			.wslide-caption-text {}
			.wsite-phone {font-family:"Open Sans" !important;}
			.wsite-headline {font-family:"Open Sans" !important;}
			.wsite-headline-paragraph {font-family:"Open Sans" !important;}
			.wsite-button-inner {font-family:"Open Sans" !important;}
			.wsite-not-footer blockquote {font-family:"Open Sans" !important;}
			.wsite-footer blockquote {}
			.blog-header h2 a {}
			#wsite-content h2.wsite-product-title {}
			.wsite-product .wsite-product-price a {}
			</style>
			<style>
			.wsite-background {background-image: url("//cdn1.editmysite.com/uploads/2/7/0/6/2706125/background-images/2093583280.jpg") !important;background-repeat: no-repeat !important;background-position: 50.00% 100.00% !important;background-size: 100% !important;background-color: transparent !important;}
			body.wsite-background {background-attachment: fixed !important;}.wsite-background.wsite-custom-background{ background-size: cover !important}
		</style>

	</head>
	<body class="landing-page  wsite-theme-light  wsite-page-index"><div class="body-wrap">
	<input type="checkbox" id="nav-trigger" class="nav-trigger">

	<div id="header">
		<label for="nav-trigger" class="nav-trigger hamburger">
			<span class="open-btn">
				<span class="mobile"></span>
				<span class="mobile"></span>
				<span class="mobile"></span>
			</span>
		</label>
		{% include sitename.html %}
	</div>

	<div id="wrapper">
		<div class="bg-wrapper">

			{% include navigation.html %}

			<div class="banner-wrap wsite-background wsite-custom-background">
				<div id="banner">
					<div id="banner-container">
						<h2><span class="wsite-text wsite-headline">
							<span>Mantenha seus dados organizados. Sempre.</span>
						</span></h2>
						<p><span class="wsite-text wsite-headline-paragraph">
	<span>Você já tem muito trabalho cuidando de seus clientes.&nbsp;Então, nada melhor do que deixar a CorujaLab cuidar das informações da sua empresa.</span>
</span></p>
						<div class="button-wrap"><div style="text-align:center;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-large wsite-button-highlight" href="/contato" >
<span class="wsite-button-inner">Entre em contato conosco</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div></div>
					</div>
				</div>
			</div>
			<div id="content-wrapper">
				<div id="content"><div id='wsite-content' class='wsite-elements wsite-not-footer'>
</div>
</div>
			</div>
		</div>
	</div>

	{% include navmobile-wrapper.html %}

</div>
	</body>
</html>
