{% include head.html titulo_pagina="Nosso Produto - " %}

	<div id="wrapper">
		<div class="bg-wrapper">

			{% include navigation.html %}

			<div id="content-wrapper">
				<div id="content"><div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:left;"><font size="6">Nosso Produto</font></h2>

<div>
	<div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
		<img src="/uploads/2/7/0/6/2706125/4886099_orig.png" alt="Imagem" style="width:auto;max-width:100%" />
		<div style="display:block;font-size:90%"></div>
	</div>
</div>

<div><div style="height: 40px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"/>
<div style="height: 40px; overflow: hidden; width: 100%;"></div></div>

<div class="paragraph" style="text-align:left;">O Antecipador foi concebido com o objetivo de&nbsp;<span>ajudar no gerenciamento de sua empresa, identificando de forma antecipada as necessidades de seus clientes, e disponibilizando informa&ccedil;&otilde;es precisas sobre o seu potencial de mercado.</span></div>

<div><div style="height: 40px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"/>
<div style="height: 40px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



<h2 class="wsite-content-title" style="text-align:left;"><font size="4" style="font-weight:normal">Tudo em um s&oacute; lugar</font></h2>

<div class="paragraph" style="text-align:left;"><span>No Dashboard, voc&ecirc; tem acesso &agrave;s informa&ccedil;&otilde;es mais importantes, de forma facilitada e direta.</span></div>



				</td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href='/uploads/2/7/0/6/2706125/8359572_orig.png' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="/uploads/2/7/0/6/2706125/8359572.png" alt="Imagem" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>



				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"/>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href='/uploads/2/7/0/6/2706125/2800073_orig.png' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="/uploads/2/7/0/6/2706125/2800073.png" alt="Imagem" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>



				</td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



<h2 class="wsite-content-title" style="text-align:right;"><font size="4" style="font-weight:normal">Atendimentos</font></h2>

<div class="paragraph" style="text-align:right;"><span>Aqui voc&ecirc; pode registrar, de forma eficiente, os atendimentos a seus clientes. Em um &uacute;nico lugar, voc&ecirc; consegue observar os atendimentos abertos, e quanto cada cliente ainda precisa pagar.</span></div>



				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"/>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



<h2 class="wsite-content-title" style="text-align:left;"><font size="4">Avisos por SMS</font></h2>

<div class="paragraph" style="text-align:left;"><span>Se voc&ecirc; tem um recado importante pro seu cliente, &eacute; melhor voc&ecirc; colocar este recado no bolso dele, n&atilde;o importa se ele tem um Smartphone, ou um telefone antigo.</span></div>



				</td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



<div><div class="wsite-image wsite-image-border-none " style="padding-top:40px;padding-bottom:40px;margin-left:0px;margin-right:0px;text-align:center">
<a href='/uploads/2/7/0/6/2706125/4317691_orig.png' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="/uploads/2/7/0/6/2706125/4317691.png" alt="Imagem" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>



				</td>			</tr>
		</tbody>
	</table>
</div></div></div></div>
</div>
			</div>
		</div>

						{% include footer.html %}

					</div>

{% include navmobile-wrapper.html %}
