{% include head.html titulo_pagina="Preço - " %}

	<div id="wrapper">
		<div class="bg-wrapper">

			{% include navigation.html %}

			<div id="content-wrapper">
				<div id="content"><div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:left;"><font size="6">Pre&ccedil;o</font></h2>

<div class="wsite-spacer" style="height:50px;"></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -25px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:33.838383838384%; padding:0 25px;">
					<h2 class="wsite-content-title" style="text-align:left;"><span>Quando custa para usar o Antecipador?</span></h2>
				</td>
				<td class="wsite-multicol-col" style="width:66.161616161616%; padding:0 25px;">
					<div class="paragraph" style="text-align:left;">
						Atualmente o acesso ao Antecipador &eacute; <b>gratuito</b> para todas
						as empresas, durante o per&iacute;odo de testes.
					</div>
					<div class="paragraph" style="text-align:left;">
						N&oacute;s vamos criar planos pagos no futuro, que v&atilde;o
						incluir, al&eacute;m das funcionalidades b&aacute;sicas,
						op&ccedil;&otilde;es avan&ccedil;adas e integra&ccedil;&otilde;es.
						Nosso compromisso &eacute; que esses planos pagos ser&atilde;o
						escolhidos de forma que sua empresa tenha um &oacute;timo retorno de
						investimento.
					</div>
					<div class="paragraph" style="text-align:left;">
						Existe alguma funcionalidade ou integra&ccedil;&atilde;o que voc&ecirc;
						gostaria de ver inclu&iacute;da no Antecipador? Por favor, d&ecirc;
						sua opini&atilde;o usando a nossa
						<a href="https://feedback.userreport.com/f789d941-b21e-4e5a-ab55-bc382c35ad40/" target="_blank">
							p&aacute;gina de sugest&otilde;es
						</a>.
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div></div></div>

<div class="wsite-spacer" style="height:50px;"></div></div>
</div>
			</div>
		</div>


				{% include footer.html %}

			</div>

{% include navmobile-wrapper.html %}
